<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<div class="mt-4 container text-center">
  <h3>
    Are you sure you want to delete task ::
    <span class="text-danger">" {{task}} " </span>
  </h3>

  <form action="" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Update</button>
  </form>
  <a href="/" class="btn btn-primary">Go Back</a>
</div>
